@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome - Hope you're doing great today!</h1>



<ul>
    <li>
        <strong>Task 1: Create a Simple Blazor Component for Counter</strong><br />
        Navigate to the <em>Counter</em> option in the Nav Menu to see it in action!
    </li>
    <li>
        <strong>Task 2: Build a Simple CRUD Application - Books</strong><br />
        Head over to the <em>Books</em> option in the Nav Menu to manage your book collection!
    </li>
</ul>

<p>
    Enjoy your journey through our application!
</p>